Project-1/Project1_xsd.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="root" type="rootType"/>

  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element name="row" type="rowType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="region" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="country" type="xs:string"/>
      <xs:element name="carModels" type="carModelsType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="cars" type="carsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="carModelsType">
    <xs:sequence>
      <xs:element name="cid" type="xs:string"/>
      <xs:element name="cname" type="xs:string"/>
      <xs:element name="year" type="xs:string"/>
      <xs:element name="usdPrice" type="xs:string"/>
      <xs:element name="cadPrice" type="xs:string"/>
      <xs:element name="euroPrice" type="xs:string"/>
      <xs:element name="poundPrice" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="carsType">
    <xs:sequence>
      <xs:element name="vin" type="xs:string"/>
      <xs:element name="color" type="xs:string"/>
      <xs:element name="buyer" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
